:root {
	--primery-text-color-slate: #434455;
	--primery-white-color: #ffffff;
	--text-color-iris: #4d5ae5;
	--text-color-navyblue: #2e2f42;
	--text-color-cloud: #f4f4fd;
	--text-color-cornflower: #e7e9fc;
	--card-set-gap: 24px;
	--color-light-slate: #8E8F99;
	--color-green: #31D0AA;
	--color-modal: #FCFCFC;
	--color-ocean: #404BBF;
	--color-form-border: rgba(33, 33, 33, 0.2);
	--color-form-text:rgba(117, 117, 117, 0.5);
	--cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
	
}
/* ************ Recomended Zozylia ************ */
a {
    text-decoration: none;
    color: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
button {
    cursor: pointer;
  }
/* ************ /Recomended Zozylia ************ */

ul {
	padding-inline-start: 0;
	margin-top: 0;
	margin-bottom: 0;
  }
img {
	display: block;
	max-width: 100%;
	height: auto;
}
body {
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.02em;
	background-color: var(--primery-white-color);
	color: var(--primery-text-color-slate);
}
/* Заголовки font-weight: 700 */
h1,
h2,
h3 {
	font-weight: 700;
	color: var(--text-color-navyblue);
}
/* прибирання маркерів у списках */
ul {
	list-style: none;
}
/* прибирання підкреслення */
a {
	text-decoration: none;
}
.p {
	font-size: 16px;
	line-height: 1.5;
}
.container {
	width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
	margin-right: auto;
}
.header-main > .container,
.header-portf > .container {
	display: flex;
	align-items: center;
}
.header-nav {
	display: flex;
	align-items: center;
}
/* logo */
.logo {
	display: flex;
	align-items: center;
	padding-top: 24px;
	padding-bottom: 24px;
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.logo-iris {
	color: var(--text-color-iris);
}
.logo-navyblue {
	color: var(--text-color-navyblue);
}
/* site-nav */
.site-nav,
.cont-nav {
	display: flex;
	font-size: 16px;
	line-height: 1.5;
}
.site-nav .item + .item,
.cont-nav .item + .item {
    margin-left: 40px;
}
.site-nav {
	margin-left: 77px;
	font-weight: 700;
}
.site-nav .link {
	position: relative;
	display: block;
	padding-top: 24px;
	padding-bottom: 24px;
	color: var(--text-color-navyblue);
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: var(--cubic-bezier);
}
.site-nav .link::after {
	content: '';
	bottom: 0;
	left: 0;
	position: absolute;
	display: block;
	width: 100%;
	height: 4px;
	background-color: var(--text-color-iris);
	border-radius: 2px;
	opacity: 0;
	transform: opacity 250ms var(--cubic-bezier);
}

.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--primery-text-color-slate);
}
.site-nav .link.current {
	color: var(--text-color-iris);
}
.site-nav .link.current::after {
	opacity: 1;
}
/* cont-nav */
.cont-nav {
	margin-left: auto;
}
.cont-nav .link {
	padding-top: 24px;
	padding-bottom: 24px;
	color: var(--primery-text-color-slate);
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: var(--cubic-bezier);
}
.cont-nav .link:hover,
.cont-nav .link:focus {
	color: var(--text-color-iris);
}
/* -------------------frame under the header------------------- */
.header-main,
.header-portf {
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/* ---------------------- hero ---------------------- */
.hero {
	max-width: 1440px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-image: 
	linear-gradient(rgba(46,47,66, 0.7), rgba(46,47,66, 0.7)),
	url(../images/people-office\ 1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 192px;
	padding-bottom: 192px;
	text-align: center;
}
.hero-title {
	margin: 0px auto 48px;
	max-width: 492px;
	font-size: 56px;
	line-height: 1.07;
	color: var(--primery-white-color);
}
.hero-button {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.19;
	padding: 16px 32px;
	align-items: center;
	letter-spacing: 0.04em;
	color: var(--primery-white-color);
	background-color: var(--text-color-iris);
    border-radius: 4px;
	border: none;
	transition: background-color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier);
}
.hero-button:hover,
.hero-button:focus {
   background-color: #404BBF;
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* ------------------ hero-modal ------------------ */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(46, 47, 66, 0.4);
	transform: scale(1);
	opacity: 1;
	transition: transform 250ms var(--cubic-bezier), opacity 250ms var(--cubic-bezier);
}
.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
	transform: scale(0.3);
}
.button-close {
	position: absolute;
	top: 24px;
	right: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: var(--text-color-cornflower);
	border: 1px solid rgba(0, 0, 0, 0.1);
	transition: background-color 250ms var(--cubic-bezier);
}
.modal-card-icon {
	fill: #000000;
	transition: fill 250ms var(--cubic-bezier);
}
.button-close:hover,
.button-close:focus {
	background-color: var(--color-ocean);
}
.button-close:hover .modal-card-icon ,
.button-close:focus .modal-card-icon {
	fill: var(--primery-white-color);
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	min-width: 408px;
	min-height: 516px;
	background-color: var();
	background: var(--color-modal);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
.modal-form {
	padding-top: 72px;
	padding-right: 24px;
	padding-bottom: 24px;
	padding-left: 24px;
}
.modal-form-h2 {
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		text-align: center;
		margin-bottom: 6px;
}
.modal-form-div {

}
.modal-form-label {
	display: flex;
	flex-direction: column;
}
.modal-form-text {
	align-self: start;
	margin-top: 8px;
	margin-bottom: 4px;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--color-light-slate);
}
.modal-form-input {
	width: 100%;
	height: 40px;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 38px;
	padding-right: 11px;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;
	color: var(--color-form-text);
	border: 1px solid var(--color-form-border);
	border-radius: 4px;
	background-color: var(--color-modal);
	transition: border 250ms var(--cubic-bezier);
	/* transition: outline 300ms var(--cubic-bezier); */
}
.modal-form-input-wrapper {
	position: relative;
	display: block;
}
.modal-form-input-svg {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);
	transition: fill 250ms var(--cubic-bezier);
}
/* .modal-form-input:focus {
	outline: 1px solid var(--text-color-iris);
	border: transparent;
} */
.modal-form-input:focus {
	border: 1px solid var(--text-color-iris);
	/* outline: 1px solid var(--text-color-iris); */
	outline: none;
}
.modal-form-input:focus ~ .modal-form-input-svg {
	fill: var(--text-color-iris);
}
.modal-form-textarea {
	padding: 8px 16px;
	width: 100%;
	height: 120px;
	resize: none;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;
	color: var(--color-form-text);
	border: 1px solid var(--color-form-border);
	border-radius: 4px;
	transition: border 250ms var(--cubic-bezier);
}
.modal-form-textarea:focus {
	border: 1px solid var(--color-ocean);
	outline: none;
}
.modal-form-checkbox {
	display: flex;
	align-items: baseline;
	padding-top: 16px;
	padding-bottom: 24px;
	align-items: baseline;
}
.modal-form-input-checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	flex-shrink: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.modal-form-checkbox-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	border: 1.25px solid var(--text-color-navyblue);
	border-radius: 2px;
	transition: background-color 250ms var(--cubic-bezier);
}
.modal-form-checkbox-icon-svg {
	display: block;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 250ms var(--cubic-bezier);
}
.modal-form-input-checkbox:checked + .modal-form-checkbox-icon {
	background-color: var(--color-ocean);
	border: var(--color-ocean);
}
.modal-form-input-checkbox:checked +.modal-form-checkbox-icon 
.modal-form-checkbox-icon-svg {
	opacity: 1;
	fill: var(--text-color-cloud);
}
.modal-form-text-checkbox {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;
	color: #757575;
}
.modal-form-text-checkbox-link {
	color: var(--text-color-iris);
}
.modal-form-button {
	width: 169px;
	height: 56px;
	padding: 16px 32px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--primery-white-color);
	background-color: var(--text-color-iris);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: none;
	border-radius: 4px;
}
/* -------------------section one------------------- */
.section-one {
	padding-top: 120px;
	padding-bottom: 120px;
}
/* Приховування заголовка "Секція1" та "Portfolio" */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.card-set {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin-left: calc(-1 * var(--card-set-gap));
}
.card-set > .section-one-li {
	flex-basis: calc(100%/4 - var(--card-set-gap));
	margin-left: var(--card-set-gap);
}
.section-one-li::before {
	display: block;
	content: '';
	height: 112px;
	background-color: var(--text-color-cloud);
	background-repeat: 4px;
	margin-bottom: 8px;
	background-repeat: no-repeat;
	background-position: center;
}
.section-one-li:nth-child(1)::before {
	background-image: url(../images/antenna.svg);
}
.section-one-li:nth-child(2)::before {
	background-image: url(../images/clock.svg);
}
.section-one-li:nth-child(3)::before {
	background-image: url(../images/diagram.svg);
}
.section-one-li:nth-child(4)::before {
	background-image: url(../images/astronaut.svg);
}
.section-one-title {
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 8px;
}
/* -------------------section two------------------- */
.section-two {
	padding-bottom: 120px;
}
.section-two-title {
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 72px;
}
.section-two-li {
	flex-basis: calc(100%/3 - var(--card-set-gap));
	margin-left: var(--card-set-gap);
}
/* -------------------section three------------------- */
.section-three {
	padding-top: 120px;
	padding-bottom: 120px;
    background-color: var(--text-color-cloud);
}
.section-three-h2 {
	font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
	margin-bottom: 72px;
}
.card-set > .section-three-li {
	flex-basis: calc(100%/4 - var(--card-set-gap));
	margin-left: var(--card-set-gap);
	background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.sect-three-div > h3 {
	margin-top: 8px;
	margin-bottom: 8px;
}
.sect-three-div > p {
	margin-bottom: 32px;
	text-align: center;
}
.section-three-title {
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
}
.sotial-list {
	display: flex;
	width: 232px;
	height: 48px;
	margin-bottom: 32px;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	align-items: center;
}
.sotial-list-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--text-color-iris);
	outline: var(--primery-text-color-slate);
	transition: background-color 250ms var(--cubic-bezier);
}
.sotial-list-icon {
	fill: var(--text-color-cloud);
}
.sotial-list-link:hover,
.sotial-list-link:focus {
	background-color: var(--color-green);
}
/* -------------------section Customers------------------- */
.customers {
	padding-top: 120px;
	padding-bottom: 120px;
}
.customers-h2 {
	font-size: 36px;
	line-height: 1.16x;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 72px;
}
.customers-ul {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.customers-li {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 168px;
	height: 88px;
	color: var(--color-light-slate);
	cursor: pointer;
}
.customers-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border: 1px solid var(--color-light-slate);
	border-radius: 4px;
	outline: var(--text-color-iris);
	transition: border 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier);
}	
.customers-svg {
	fill: currentColor;
}
.customers-link:hover,
.customers-link:focus {
	border: 1px solid var(--text-color-iris);
	color: var(--text-color-iris);
}
/* -------------------Portfolio------------------- */
.section-portfolio {
	padding-top: 96px;
	padding-bottom: 120px;
}
/* ----------------- Блок фільтрів ----------------- */
.filter-ul {
    display: flex;
	justify-content: center;
	margin-bottom: 72px;
}
.filter-ul .filter-li + .filter-li {
	margin-left: 24px;
}
.portfolio-button {
	padding: 16px 32px;
	border: 1px solid #E7E9FC;
    border-radius: 4px;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
	color: var(--text-color-iris);
	background-color: var(--text-color-cloud);
	transition: box-shadow 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier);
}
.portfolio-button:hover,
.portfolio-button:focus {
	color: var(--primery-white-color);
	background-color: var(--text-color-iris);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-button.current {
	color: var(--primery-white-color);
	background-color: var(--text-color-iris);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ----------------- Блок портфоліо ----------------- */
.portfolio-ul {
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--card-set-gap));
	margin-bottom: calc(-1 * var(--card-set-gap));
	margin-left: calc(-1 * var(--card-set-gap));
	margin-right: 0;
}
.portfolio-li {
	flex-basis: calc(100%/3 - var(--card-set-gap) - 1);
	margin-top: var(--card-set-gap);
	margin-bottom: var(--card-set-gap);
	margin-left: var(--card-set-gap);
	border-bottom: 0.5px solid #F4F4FD;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
	transition: box-shadow 250ms var(--cubic-bezier);
}
.portfolio-li:hover {
	cursor: pointer;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-content {
	padding: 32px 16px;
}
.portfolio-title {
	font-size: 20px;
	line-height: 1.2;
}
.card-content > .card-text {
	margin-top: 8px;
}
.card-thumd {
	position: relative;
	overflow: hidden;
}
.overlay-card {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--text-color-iris);
	/* background-blend-mode: soft-light;
	mix-blend-mode: normal; */
	transform: translateY(100%);
	transition: transform 250ms var(--cubic-bezier);
}
.portfolio-li:hover .overlay-card {
	transform: translateY(0);
}
.overlay-card-h3 {
	position: absolute;
	top: 40px;
	left: 32px;
	width: 296px;
	height: 96px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: var(--text-color-cloud);
}
/* --------------------- footer --------------------- */
.footer {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: var(--text-color-navyblue);
}
.footer > .container {
	display: flex;
	align-items: baseline;
}
.logo-cloud {
	color: var(--text-color-cloud);
}
.footer-logo > .logo {
	margin-bottom: 16px;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 18px;
	line-height: 1.17;
}
.footer-p {
	width: 264px;
	color: var(--text-color-cornflower);
}
.footer-media {
	margin-left: 120px;
}
.footer-h3 {
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 1.5;
	color: var(--primery-white-color);
}
.footer-ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 208px;
	height: 40px;
}
.footer-li {
}
.footer-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	outline: var(--primery-text-color-slate);
	transition: background-color 250ms var(--cubic-bezier);
}
.footer-svg {
	fill: var(--text-color-cloud);
}
.footer-link:hover,
.footer-link:focus {
	cursor: pointer;
	background-color: var(--color-green);
}
.footer-sub {
	margin-left: auto;
}
.subscribe-label {

}
.subscribe-form {
	display: flex;
	align-items: center;
}
.subscribe-input {
	width: 264px;
	height: 40px;
	margin-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 8px;
	letter-spacing: 0.04em;
	color: rgba(255, 255, 255, 0.6);
	background-color: var(--text-color-navyblue);
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
}
.subscribe-input::placeholder {
	color: rgba(255, 255, 255, 0.6);
}
.subscribe-submit {
	display: flex;
	width: 165px;
	height: 40px;
	padding: 8px 24px;
	background-color: var(--text-color-iris);
	border: none;
	border-radius: 4px;
}
.subscribe-span {
	width: 77px;
	height: 24px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	padding: 0;
	margin: 0;
	color: var(--primery-white-color);

}
.subscribe-svg {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 16px;
	fill: var(--primery-white-color);
}